.venv
.idea/*
__pycache__/*
data/vacuumflask.db
uploads
beanstalk
beanstalk/.
.env
*.zip
tmp
tmp/*
.idea
node_modules
create_eks_vacuumflask_env.sh
load-balancer/ssl/*
data/aws_credentials
.DS_Store
.vscode/
.vscode/*
data/*.log

