{% extends 'base.html' %}

{% block content %}
       <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .file-info {
            margin-bottom: 20px;
        }
        .actions button {
            margin-right: 10px;
        }
        img, video {
            max-width: 100%;
            height: auto;
        }
    </style>
    <div class="content">

    <h1>File Information</h1>
        <p>
            <a href="/public_content">Back</a>
        </p>
        <div class="file-info">
            <form action="">
            <p><strong>Key:</strong>
                <form action="public_content/content/move/{{ item['Key'] }}" method="post">
                    <input type="text" value="{{ item['Key'] }}"/>
                    <button type="submit">rename or move</button>
                </form>
            <a href="public_content/content/remove/{{ item['Key'] }}">Remove</a>
            </p>
            </form>
            <p><strong>Last Modified:</strong> {{ item['LastModified'] }}</p>
            <p><strong>Size:</strong> {{ item['Size'] }} bytes</p>
            <p><strong>Storage Class:</strong> {{ item['StorageClass'] }}</p>

            {% if item['Key'].endswith(('.jpg', '.jpeg', '.png', '.gif')) %}
                <img src="https://pub.cmh.sh/{{  item['Key']|safe }}" alt="Image">
            {% elif item['Key'].endswith('.mp4') %}
                <video controls>
                    <source src="https://pub.cmh.sh/{{ item['Key']|safe }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% else %}
                <p>This file cannot be displayed directly.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
