{% extends 'base.html' %}

{% block content %}
    <div class="content">
          {%  if filenotfound is defined %}
              <h3> FILE NOT FOUND</h3>
          {% endif %}
        <h3>Public CDN Content</h3>
        <a href="{{ url_for("public_content_gallery") }}">Gallery</a><br/>
        <div>
          <h3>Upload your file here:</h3>
          <form method="POST" action="/public_content" enctype=multipart/form-data>
            <input type=file name=file>
              <label for="new_filename">
                <input type="text" name="new_filename">
                Renamed File Name</label>
            <input type=submit value=Upload>
              <label class="picture-options">Mobile
                  <input type="checkbox" name="Mobile">
              </label>
              <label class="picture-options">Discord
                  <input type="checkbox" name="Discord">
              </label>
              <label class="picture-options">Remove Metadata
                  <input type="checkbox" name="Metadata">
              </label>
              <label class="picture-options">Convert .mov to .mp4
                  <input type="checkbox" name="ReMuxMovToMP4">
              </label>
          </form>
        </div>
        <div>
          <h3>These are your uploaded files:</h3>
          <p>Click on the filename to view the object.</p>
          <ul>
            {% for Key, obj in contents.items() %}
              <li class="linkcollectionli">
                <a href="{{ url_for("public_content_content", Key=Key) }}"> {{ obj.Key }} </a>
                <span class="publink">https://pub.cmh.sh/{{ Key }}</span>
                <span class="copylink" onclick="copyToClipboard('https://pub.cmh.sh/{{ Key }}')">Copy URL</span>
              </li>
            {% endfor %}
          </ul>
        </div>
    <script>
      function copyToClipboard(text) {
        // Create a temporary input element to hold the text
        const tempInput = document.createElement('input');
        tempInput.value = text;
        document.body.appendChild(tempInput);

        // Select the text and copy it to the clipboard
        tempInput.select();
        document.execCommand('copy');

        // Remove the temporary input element
        document.body.removeChild(tempInput);

        // Optionally, notify the user that the link has been copied
        alert('Copied to clipboard: ' + text);
      }
</script>
{% endblock %}
