{% extends 'base.html' %}
{% block wordcloud %}
<button class="accordion">Click to Show/Hide Tag Word Cloud</button>
<div class="panel">
 <div class="word-cloud">
        {% for tag, count in tags.items() %}
            {% set font_size = (min_font_size + ((count - min_count) / (max_count - min_count)) * (max_font_size - min_font_size)) | round(2) %}
            <span class="tag" style="font-size: {{ font_size }}px;"><a href="{{ url_for("get_tag",name=tag) }}">{{ tag }}</a></span>
        {% endfor %}
 </div>
</div>
    <script>
    var acc = document.getElementsByClassName("accordion");
    for (var i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>{% endblock %}

{% block content %}
<a href="{{ url_for("index") }}" class="btn btn-primary"> Back</a>
{%for blog in posts%}

    <div class="postbox" id="post{{blog['id']}}" data-keywords="{{blog['seo']}}">
        <a href="/post/{{blog['id']}}"><span class="posttitle">{{blog['subject']}}</span></a>
        <span class="postdate">{{ blog['date'] }}:</span>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for("edit_blog_posts",number=blog['id']) }}">Edit</a>
                <a href="{{ url_for("remove_blog_post",postid=blog['id']) }}">Remove</a>
            {% endif %}
        <br/>
        <div class="article">
             {{blog['body']|safe}}
        </div>
    </div>
{%endfor%}
    {%for blog in bottom_posts%}
    <div class="postbox" id="post{{blog['id']}}" data-keywords="{{blog['seo']}}">
        <a href="/post/{{blog['id']}}"><span class="posttitle">{{blog['subject']}}</span></a>
        {% if current_user.is_authenticated %}
                <a href="{{ url_for("edit_blog_posts",number=blog['id']) }}">Edit</a>
                <a href="{{ url_for("remove_blog_post",postid=blog['id']) }}">Remove</a>
        {% endif %}

    </div>
{%endfor%}

{% endblock %}