{% extends 'base.html' %}

{% block content %}
<h2>Tag editing</h2>
{% if submitted %}
    <p>Your tag has been submitted!</p>
{% endif %}
<form action="/tagcrud/{{ tag['id'] }}" method="POST">
    <label for="tag_name">Tag Name:</label><br>
    <input type="text" id="tag_name" name="tag_name" required value="{{tag['name']}}"><br>
    <input type="checkbox" id="tagenabled" name="tagenabled" value="1">
    <label for="tagenabled"> Tag Enabled</label><br>

    <input type="submit" value="Submit">
</form>
{% endblock %}
